### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [4]:
purchase_data.head()
# purchase_data.loc[:, ["Gender", "SN", "Age"]]
purchase_data[["Gender", "SN", "Age"]].drop_duplicates().count()[0]

576

## Player Count

* Display the total number of players

In [5]:
# Calculate the Number of Unique Players
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
num_players = player_demographics.count()[0]    # Display the total number of players
pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Basic calculations

unique_items_count = len(purchase_data['Item Name'].unique())
average_price = purchase_data['Price'].mean()
purchase_count = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()

# Create a DataFrame to hold results

summary_df = pd.DataFrame({"Number of Unique Items": unique_items_count,
                           "Average Price": average_price,
                           "Number of Purchases": purchase_count,
                           "Total Revenue": total_revenue}, index=[0])
# Minor Data Wrangling

summary_df["Average Price"] = summary_df["Average Price"].apply("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].apply("${:,.2f}".format)

# Display the summary_table

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [3]:
# Run basic calculations


# Create a DataFrame to hold results


# Minor Data Wrangling


# Display the summary_table
summary_table

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     179         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [21]:
# Calculate the Number and Percentage by Gender
gender_stats = purchase_data.drop_duplicates().groupby('Gender')

male_players_count = player_demographics[player_demographics['Gender'] == "Male"].count()[0]
female_players_count = player_demographics[player_demographics['Gender'] == "Female"].count()[0]
non_disclosed_players_count = player_demographics[(player_demographics['Gender'] != "Female") & (player_demographics['Gender'] != "Male")].count()[0]

male_players_percent = male_players_count / num_players * 100
female_players_percent = female_players_count / num_players * 100
non_disclosed_players_players_percent = non_disclosed_players_count / num_players * 100


gender_demographics = pd.DataFrame({"Total Count": [male_players_count, female_players_count, non_disclosed_players_count], 
                                    "Percentage of Players": [male_players_percent,female_players_percent,non_disclosed_players_players_percent] }, 
                                   
                                   index=["Male", "Female", "Other / Non-Disclosed"])
# Minor Data Wrangling

gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].apply("{:.2f}%".format)
gender_demographics
# gender_stats[['Purchase ID']].count()
# purchase_data['SN'].drop_duplicates().count()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [4]:
# Calculate the Number and Percentage by Gender

# Minor Data Wrangling

gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
def testx(h1,t1):
    ad = h1 + t1
    su = h1 - t1
    mu = h1 * t1
    di = h1 / t1
    
    return ad,su,mu,di

a,s,m,d = testx(1,2)

print(a,s,m,d)

3 -1 2 0.5

In [37]:
female_player_purchase = purchase_data[purchase_data['Gender'] == "Female"]
male_player_purchase = purchase_data[purchase_data['Gender'] == "Male"]
non_disclosed_player_purchase = purchase_data[(purchase_data['Gender'] != "Female") & (purchase_data['Gender'] != "Male")]

def get_df_stats(df, gender_players_count=0):
    count_val = df.count()[0]
    avg_purchase_price = df['Price'].mean()
    total_purchase_value = df['Price'].sum()
    gender_purchase_per_person = df['Price'].sum() / gender_players_count
    
    return count_val, avg_purchase_price, total_purchase_value, gender_purchase_per_person

''' Logic

female_player_purchase_count = female_player_purchase.count()[0]
avg_female_player_purchase_price = female_player_purchase['Price'].mean()
total_female_player_purchase_value = female_player_purchase['Price'].sum()
female_purchase_per_person = female_player_purchase['Price'].sum() / female_players_count
'''

# Run basic calculations


female_player_purchase_count, avg_female_player_purchase_price, total_female_player_purchase_value, female_purchase_per_person = get_df_stats(female_player_purchase, female_players_count)
male_player_purchase_count, avg_male_player_purchase_price, total_male_player_purchase_value, male_purchase_per_person = get_df_stats(male_player_purchase, male_players_count)
non_disclosed_player_purchase_count, avg_non_disclosed_player_purchase_price, total_non_disclosed_player_purchase_value, non_disclosed_purchase_per_person = get_df_stats(non_disclosed_player_purchase, non_disclosed_players_count)

# Convert to DataFrame


gender_data_df = pd.DataFrame({"Purchase Count": [female_player_purchase_count, male_player_purchase_count, non_disclosed_player_purchase_count],
                               "Average Purchase Price": [avg_female_player_purchase_price, avg_male_player_purchase_price, avg_non_disclosed_player_purchase_price],
                               "Total Purchase Value": [total_female_player_purchase_value, total_male_player_purchase_value, total_non_disclosed_player_purchase_value],
                               "Avg Total Purchase per Person": [female_purchase_per_person, male_purchase_per_person, non_disclosed_purchase_per_person]
                              }, index=["Female", "Male", "Other / Non-Disclosed"])

# Minor Data Wrangling

gender_data_df['Average Purchase Price'] = gender_data_df['Average Purchase Price'].apply("${:.2f}".format)
gender_data_df['Total Purchase Value'] = gender_data_df['Total Purchase Value'].apply("${:,.2f}".format)
gender_data_df['Avg Total Purchase per Person'] = gender_data_df['Avg Total Purchase per Person'].apply("${:.2f}".format)

gender_data_df
# female_player_purchase['Price'].sum() / num_players

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [5]:
# Run basic calculations

# Calculate Normalized Purchasing (Average Total Purchase per Person)

# Convert to DataFrame

# Minor Data Wrangling

# Display the Gender Table
gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish the bins 

# Categorize the existing players using the age bins

# Calculate the Numbers and Percentages by Age Group

# Minor Data Wrangling

# Display Age Demographics Table
age_demographics = age_demographics.sort_index()
age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Bin the Purchasing Data

# Run basic calculations

# Calculate Normalized Purchasing (Average Purchase Total per Person)

# Convert to DataFrame

# Minor Data Wrangling

# Display the Age Table
age_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Basic Calculations

# Convert to DataFrame

# Display Table

# Minor Data Wrangling

# Display DataFrame
user_sorted.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Extract item Data

# Perform basic calculations

# Create new DataFrame

# Sort Values

# Minor Data Wrangling

item_popularity.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Item Table (Sorted by Total Purchase Value)

# Minor Data Wrangling

item_profitable.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80